html{
box-sizing: border-box;
}

body{
    background-color: #64b7ff;
    font-family: Roboto, sans-serif;
}

h1{ text-align: left;
    margin: 10px;
    width: 90%;
    padding-left:10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    background-color: white;
    border-bottom:5px groove lightgray;
    
    

}

.nav-link{
    float: right;
    color: white;
    margin: 30px;
    position: relative;
    right: 0;
    background-color: rgb(0,128,255);
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    font-size: 25px;
    top:0
    transform: translate(0,-25%);
    
       
}

.form-wrapper {
    background-color: white;
    border-radius:  5px;
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto; 
    width: 40vw;
    padding-top: 20px;
    text-align: center;

}

.form-input {
    background-color: white;
    width: 90%;
    left: 0;
    margin: 10px;
    padding: 10px;
    
}

#submit-button {
    background-color:blue;
    color: white;
    width: 75%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display:block;
    margin: auto;
    padding:10px;
    border-radius: 10px;
}

   
img{
 border-radius: 50%;
 height: 100px;
 width: 100px;
 padding: 10px;
}
